defaults: &defaults
  working_directory: &working_directory
    ~/unity_tutorial_2019

deps-images: &deps-images
  docker:
    - image: 'circleci/ruby:2.6.0-node-browsers'

checkout_cache_key: &checkout_cache_key v1-repo-{{ .Environment.CIRCLE_SHA1 }}
restore_checkout_cache: &restore_checkout_cache
  restore_cache:
    key: *checkout_cache_key

tag-setting: &tag-setting
  run:
    name: Release Tag
    command: |
      git config user.name $GIT_USER_NAME
      git config user.email $GIT_USER_EMAIL
      commitmessage=$(git log --pretty=%B -n 1)
      if [[ $commitmessage = *"[tag release]"* ]]; then
        git tag "v0.1.2"
        git push origin "v0.1.2"
      else
        git commit --allow-empty -m "[tag release]"
        git push -u origin master
      fi

setting-build: &setting-build
  steps:
    - checkout
    - save_cache:
        key: *checkout_cache_key
        paths: *working_directory
    - run: echo ${CIRCLE_TAG}
release-tag: &release-tag
  steps:
    - attach_workspace:
        at: .
    - checkout
    - *restore_checkout_cache
    - *tag-setting

version: 2
jobs:
  build-setting:
    <<: [*defaults, *deps-images]
    <<: *setting-build

  tag-release:
    <<: [*defaults, *deps-images]
    <<: *release-tag

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-setting
      - tag-release:
          requires:
            - build-setting
          filters:
            branches:
              only: master
